@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

html {
  color-scheme: dark;
}

body {
  @apply grid bg-white bg-repeat text-gray-50;
  font-family: "DM Sans", sans-serif;
  background-image: url("/assets/noise-texture.svg");
}

.buttonLink {
  @apply relative inline-flex h-fit w-fit rounded-full px-4 py-2;
  @apply border border-sky-100/20 bg-sky-200/10 text-sky-200 outline-none ring-teal-300;
  @apply after:absolute after:inset-0 after:-z-10 after:animate-pulse after:rounded-full after:bg-teal-100 after:bg-opacity-0 after:blur-md;
  @apply transition-colors hover:border-teal-200/40 hover:text-teal-300 after:transition-all after:duration-500 after:hover:bg-opacity-15 focus:ring-2;
}

.glass-container {
  position: relative;
}

.glass-container::before {
  @apply absolute -inset-[10px] -z-10 rounded-xl border border-gray-100/20 bg-gray-200/10 backdrop-blur-md;
  content: "";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

/* Smooth scrolling */
* {
  scroll-behavior: smooth;
}

/* @layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
} */

@layer utilities {
  .rotate-45 {
    @apply rotate-[45deg];
  }

  .rotate-90 {
    @apply rotate-[90deg];
  }

  .rotate-135 {
    @apply rotate-[135deg];
  }

  .rotate-180 {
    @apply rotate-[180deg];
  }

  .rotate-225 {
    @apply rotate-[225deg];
  }

  .rotate-270 {
    @apply rotate-[270deg];
  }

  .rotate-315 {
    @apply rotate-[315deg];
  }

  .rotate-360 {
    @apply rotate-[360deg];
  }

  .-rotate-45 {
    @apply -rotate-[45deg];
  }

  .-rotate-90 {
    @apply -rotate-[90deg];
  }

  .-rotate-135 {
    @apply -rotate-[135deg];
  }

  .-rotate-180 {
    @apply -rotate-[180deg];
  }

  .-rotate-225 {
    @apply -rotate-[225deg];
  }

  .-rotate-270 {
    @apply -rotate-[270deg];
  }

  .-rotate-315 {
    @apply -rotate-[315deg];
  }

  .-rotate-360 {
    @apply -rotate-[360deg];
  }
}
